@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Fredericka+the+Great&display=swap');

:root {
  --primary: #0C005B;
  --secondary: #F1B900;
  --success: #64AB23;
  --inactive: #aea179;
}

body {
  background-color: var(--primary);
  color: #fff;
}

button {
  background-color: transparent;
  border:none;
}

.button-primary {
  padding: 10px 15px;
  border-radius: 5px;
  width: 200px;
  margin: 10px auto;
  font-family: 'Pacifico', cursive;
  color: var(--primary);
  background-color: var(--secondary);
  display: block;
}

button:focus {
  outline: none;
}

.display {
  font-family: 'Pacifico', cursive;
  color: var(--secondary);
}

.pageTitle {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  padding: 20px;
}

.result {
  margin-top: 20px;
  margin-bottom: 20px;
}

.score {
  background: var(--secondary);
  color: var(--primary);
  width: 80px;
  height: 80px;
  padding-top: 15px;
  font-size: 2rem;
  border-radius: 50%;
  margin: 20px auto;
  text-align: center;
}

.calculateBtn {
  padding: 10px 15px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: var(--primary);
  background-color: var(--success);
}

/* Board */

.board {
  text-align: center;
  position: relative;
}

.navBtn {
  text-indent: -9999px;
  font-size: 0;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translateY(-10px);
  position: absolute;
  top: 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.navBtn.start.prev,
.navBtn.end.next {
  cursor: not-allowed;
  display: none;
}

.navBtn.prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: -5px;
}

.navBtn.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: -5px;
}

/* Question */

.question {
  width: 100%;
  min-height: 100px;
  border: 1px solid #eee;
  color: #fff;
  padding: 20px 0;
}

button.answer {
  padding: 10px 15px;
  border-radius: 5px;
  width: 100px;
  margin: 10px 2px;
  font-family: 'Pacifico', cursive;
  color: var(--primary);
}
button.answer.yes {
  background-color: var(--secondary);
}
button.answer.no {
  background-color: var(--inactive);
}

.Yes button.answer.yes,
.No button.answer.no {
  border: 2px solid #fff;
}

/* Preview */

.preview {
  margin-top: 20px;
  margin-bottom: 20px;
}

.board-row {
  display: block;
  height: 16px;
  width: 80px;
  margin: 0 auto;
}
.square {
  background: #eee;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  width: 16px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square.Yes {
  background-color:var(--secondary);
}
.square.No {
  background-color: var(--inactive);
}

/* Final Result */

.finalResult {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: black;
  margin: 0;
}
